{% extends 'base.html.twig' %}

{% block title %}Video{% endblock %}

{% block stylesheets %}
{{ parent() }}
 <link rel="stylesheet"  href="{{ asset('css/video/video.css') }}" >
{% endblock %}

{% block body %}
<style>
   
</style>

<div class="body" style="">

      <img src="{{ asset('back2.png') }}" style="  height:100vh; background-cover:center; width:100%; position:absolute; height:100%; bottom:0; top:0; right:0; left:0; width:100%;">

        <div class="" style="padding:11px; background-color:white;  border-bottom: 3px solid #2c3e50; position:relative;">
          <div class="container">
                <div style="display:inline-block"> 
                   <a href="https://www.ues.ma/"><img src="{{ asset('profile.png') }}" style="height:45px;"></a>
                </div>

                <div style="float:right;"> 
                  <a  href="#"><img src="{{ asset('splashf.png') }}" style="height:42px;"></a>
                </div>
                <div   style="position:absolute; left:43.5%; top:25%; font-weight:bold; border:1px solid #2c3e50; 
                       padding:6px 10px; border-radius: 15px 0px 15px 0px; color:#2c3e50;">
                   {# {{ adm }} #} adm
                </div>
          </div>
        </div>



<div class="container mt-5">
    <div class="row" >
      <div class="col-xl-8 col-md-7 col-12" style="margin-bottom: 15px">
           {# <video width="100%"  controls controlsList="nodownload"> #}
           <video width="100%"  controls controlsList="nodownload" playsinline>
           
                <source src={{ "https://d1jsawlrokhcmg.cloudfront.net/" ~ video.video|replace({ ('+'): '/' }) | url_encode   }}   type="video/mp4">
            </video> 
            {# <p class="p-description-video"> 
                 Le Lorem Ipsum est simplement du faux texte employé dans la composition 
            </p> #}

            {# ------------------------------------------- accordian -------------------------------------------- #}

            {# <div id="accordion" class="commantaire">
                <div class="card">
                    <div class="card-header card-header-commentaire" data-toggle="collapse"   id="headingOne"  data-target="#collapseOne" >
                        <p class="piece-joint" > <i class="fas fa-comments" style="margin-right: 5px;"> </i> Commentaires </p>
                        <h5 class="mb-0 accordian-button" >
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fas fa-plus" style="color: white"> </i>
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high lif
                    </div>
                    </div>
                </div>
            </div> #}

            {# ------------------------------------------------- accordian ------------------------------------- #}

      </div>
      <div class="col-xl-4 col-md-5 col-12 suggestion card-video">
          
         {# ------------------------------------------------- accordian ------------------------------------- #}

        
         <div id="accordion1" class="piece-joint-accordion">
                <div class="card">
                    <div class="card-header card-header-pieces-jointe" data-toggle="collapse"   id="headingOne"  data-target="#collapseToo" >
                        <p class="piece-joint" > <i class="fas fa-file" style="margin-right: 5px;"> </i> Pieces joints</p>
                        <h5 class="mb-0 accordian-button" >
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseToo" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fas fa-plus" style="color: white"> </i>
                            </button>
                        </h5>
                    </div>

                    <div id="collapseToo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion1">
                    <div class="card-body">
                          <div class="row">
                             
                                
                                        {% if  video.piece is not empty %}
                                                
                                            {% set pieces = video.piece | split('|') %}

                                            {% for piece in pieces %}
                                                        
                                                    {% set exts = piece |split('.') %}
                                                    {% set name = piece |split('!!') %}
                                                        
                                                    {% if piece != null %}

                                                        <div class="col-xl-2"  style="padding-left: 30px;">
                                                            {# <i class="fas fa-file" style="font-size: 17px; margin-top: 4px; color:#F7A326;"> </i> #}
                                                        
                                                            <a href="{{ asset('uploads/' ~ piece ) }}" target="_blank" id="PJ">
                                                                {% if  exts[1] |lower  == 'tif' or  exts[1] |lower  == 'png' or exts[1] |lower  == 'jpg' or exts[1] |lower  == 'gif' or exts[1] |lower  == 'jpeg' or exts[1] |lower  == 'tiff' %}
                                                                    <i class="fa fa-file-image icon-file" style="color:#717171;"></i> 
                                                                {% elseif exts[1] |lower == 'pdf' %}
                                                                    <i class="fa fa-file-pdf icon-file"  style="color:#AC1D19;" ></i>   
                                                                {% elseif exts[1] |lower == 'xlsx' or exts[1] |lower == 'xlsx' or exts[1] |lower == 'xlsm' or exts[1] |lower == 'xlsb' or exts[1] |lower == 'xls' or exts[1] |lower == 'xlam' %}
                                                                    <i class="fa fa-file-excel icon-file" style="color:green;"></i>  
                                                                {% else %}      
                                                                <i class="fa fa-file icon-file" style="color:#F7A326;" ></i>           
                                                                {% endif %} 
                                                            </a>
                                                        </div>

                                                        <div class="col-xl-10">
                                                             {% set Singlename = name[1] |split('.') %}
                                                            <p> {{ Singlename[0] ~ '.' ~ Singlename[1] |lower }} </p>
                                                        </div>

                                                    {% endif %}
                                                            
                                            {% endfor %}
                                                                                            
                                        {% endif %}

                            </div>

                            {# --------------------------------------- row ---------------------------------------------- #}

                          
                           {# 
                            <div class="row">
                                <div class="col-xl-2"  style="padding-left: 30px;">
                                    <i class="fas fa-file-excel" style="font-size: 17px; margin-top: 4px; color:green;"> </i>
                                </div>

                                <div class="col-xl-10">
                                    <p> Anim pariatur cliche reprehenderit enim eiusmod high lif </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-2"  style="padding-left: 30px;">
                                    <i class="fas fa-file-image" style="font-size: 17px; margin-top: 4px; color:#717171;"> </i>
                                </div>

                                <div class="col-xl-10">
                                    <p> Anim pariatur cliche reprehenderit enim eiusmod high lif </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-2"  style="padding-left: 30px;">
                                    <i class="fas fa-file-pdf" style="font-size: 17px; margin-top: 4px; color:#AC1D19;"> </i>
                                </div>

                                <div class="col-xl-10">
                                    <p> Anim pariatur cliche reprehenderit enim eiusmod high lif </p>
                                </div>
                            </div>*
                          
                           #}


                       </div>
                    </div>
                </div>
            </div>

         
          
        {# ------------------------------------------------- accordian ------------------------------------- #}

        
      </div>
    </div>
</div> 

</div>



{% endblock %}

